{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knighted</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  
  <style>
   
  
  </style>
  </head>

  <body class="bg-primary text-white p-1">
  
    <div class="d-flex justify-content-center img-fluid w-3 d-block mx-auto">
      <img src="{% static 'logoKnighted.png' %}" alt="logo">
      
    
    </div>
   
  
  
  <div class= "p-3 text-white-emphasis bg-dark border border-dark rounded-3
  d-flex justify-content-center align-items-center">

    <img src="{% static 'logoKnighted.png' %}" alt="partida">
    <a href="{% url 'partida' %}" class="menu-button">Ver Partidas</a>

    <img src="imagem.png" alt="torneio">
    <a href="{% url 'torneio' %}" class="menu-button">Torneio</a>

    <img src="imagem.png" alt="jogador">
    <a href="{% url 'jogador' %}" class="menu-button">Cadastrar Jogador</a>

  </div>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>


</html>