{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Lista de Movimentos</title>
</head>

<body class="bg-primary text-white p-1">

    <div class=" px-3">
        <a href="{% url 'index' %}" class="btn btn-primary">
          <i class="bi bi-arrow-left me-2"></i> Voltar
        </a>
    </div>

    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>Lista de Movimentos</h1>
        <ul class="list-group">
            {% for movimento in movimentos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Partida: {{ movimento.id_partida }} - Notação: {{ movimento.notacao }} - Ordem: {{ movimento.ordem }}
                    <form method="post" action="{% url 'remover_movimento' %}" class="remover-movimento-form" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="movimento_id" value="{{ movimento.id_movimento }}">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover o movimento {{ movimento.notacao }}?')">Remover</button>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item">Nenhum movimento cadastrado.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'criar_movimento' %}" class="btn btn-light mt-3">Adicionar Novo Movimento</a>
    </div>
</body>
</html>