{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knighted</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="{% static 'styles/styles.css' %}">
  <style>
   
  </style>
</head>
<body>
  <header>
    <h1>Knighted</h1>
  </header>
  
  <div class="menu-container">
    <img src="imagem.png" alt="partida">
    <a href="partidas.html" class="menu-button">Ver Partidas</a>

    <img src="imagem.png" alt="torneio">
    <a href="torneio.html" class="menu-button">Torneio</a>

    <img src="imagem.png" alt="jogador">
    <a href="jogador.html" class="menu-button">Cadastrar Jogador</a>
  </div>
</body>
</html>