<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Jogador</title>
</head>
<body>
    <div class ="relative-logo">
        <img class="logo" src= "imagem.jpg" alt="logo Knighted" />
        <h1 class="container__titulo">Knighted</h1>
    </div>

    <div class="caixa-jogador">
        <label for="nome">Nome:</label>
        <input class="entrada" type="text" name="nome" id="nome" placeholder="Digite seu nome completo">
        
        <label for="local">Data de nascimento:</label>
        <input class="entrada" type="date" name="nascimento" id="nascimento" placeholder="digite data de nascimento">
        
        <label for="data_inicio">País:</label>
        <input class="entrada" type="text" name="pais" id="pais" placeholder="digite país de origem">

        <label for="elo">Elo:</label>
        <input class="entrada" type="text" name="elo" id="elo" placeholder="digite elo">
      
        <input class="submeter" type="submit" value="Enviar">
      </div>

    
</body>
</html>