<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Partida</title>   
</head>
<body>
    <div class ="relative-logo">
        <img class="logo" src= "imagem.jpg" alt="logo Knighted" />
        <h1 class="container__titulo">Knighted</h1>
    </div>

    <div class="caixa-partida">
        <label for="nome">Abertura:</label>
        <input class="entrada" type="number" name="nome" id="abertura" placeholder="Digite número da abertura">
        
        <label for="local">Data da partida:</label>
        <input class="entrada" type="date" name="data-partida" id="data-partida" placeholder="digite data da partida">
        
        <label for="data_inicio">Duração:</label>
        <input class="entrada" type="time" name="duracao" id="duracao" placeholder="digite tempo de duração da partida">

        <label for="elo">Resultado:</label>
        <input class="entrada" type="text" name="resultado" id="resultado" placeholder="digite resultado da partida">
      
        <input class="submeter" type="submit" value="Enviar">
      </div>
    
    
</body>
</html>