<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Torneio</title>   
</head>
<body>
    <div class ="relative-logo">
        <img class="logo" src= "imagem.jpg" alt="logo Knighted" />
        <h1 class="container__titulo">Knighted</h1>
    </div>
    <div class="caixa-torneio">
        <label for="nome_torneio">Nome do Torneio:</label>
        <input class="entrada" type="text" name="nome_torneio" id="nome_torneio" placeholder="Digite o nome do torneio">
        
        <label for="local">Local:</label>
        <input class="entrada" type="text" name="local" id="local" placeholder="Local do torneio">
        
        <label for="data_inicio">Data de Início:</label>
        <input class="entrada" type="date" name="data_inicio" id="data_inicio">
        
        <label for="data_fim">Data de Término:</label>
        <input class="entrada" type="date" name="data_fim" id="data_fim">
      
        <input class="submeter" type="submit" value="Enviar">
      </div>
    
</body>
</html>